.carousel-fade img {
    width: 100%;
    max-height: 460px;
}

.carousel-fade {
    height: 300px;
}

.headerd{
    position: fixed important;
}
#footerdiv {
    padding-top: 40px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    background-color: rgb(242, 242, 242);
}

.sppb-section {
    backface-visibility: hidden;
    z-index: 1;
    position: relative;
    will-change: top;
}